.tt_body{
    margin: 10px;
    border:solid;
    box-shadow: inset;
    .rect{
        background-color: darkkhaki;
        > .tt_logo {
            display: block;
                margin-left: auto;
                margin-right: auto;
        }
}    
}


